[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/siyuanh
[access "refs/for/refs/*"]
	read = group user/siyuanh
	push = group user/siyuanh
	label-Code-Review = -2..+2 group user/siyuanh
	label-Verified = -1..+1 group user/siyuanh
	rebase = group user/siyuanh
	removeReviewer = group user/siyuanh
	submit = group user/siyuanh
[access "refs/heads/*"]
	read = group user/siyuanh
	create = group user/siyuanh
	push = +force group user/siyuanh
	pushMerge = group user/siyuanh
[access "refs/tags/*"]
	push = +force group user/siyuanh
	pushTag = group user/siyuanh
	pushSignedTag = group user/siyuanh
